* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #bed1fa;
}

.container {
  display: flex;
  width: 90%;
  height: 500px;
  margin: 200px auto;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
  background-color: #e8f0fe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.right {
  flex: 1;
  padding: 40px;
}

.right h2 {
  color: #2b2b2b;
  margin-bottom: 10px;
}

.right p {
  color: #666;
  margin-bottom: 30px;
  font-size: 15px;
}

form input {
  width: 100%;
  padding: 20px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form textarea {
  width: 100%;
  padding: 20px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button[type="submit"] {
  width: 100%;
  padding: 20px;
  background-color: #2357f2;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #1d4ed8;
}

.signupLink {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.signupLink a {
  color: #2357f2;
  text-decoration: none;
}

.loginPic {
  width: 240px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}

.container-register{
  align-items: center;
  display: flex;
  width: 90%;
  height: 600px;
  margin: 100px auto;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}