body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #e9eff6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

h1 {
  margin: 0;
  color: #333;
  font-size: 44px;
  text-align: center;
  font-weight: 1000;
}

h2 {
  margin: 0;
  color: #333;
  font-size: 28px;
  text-align: center;
  font-weight: 1000;
}

.card-container {
  display: flex;
  gap: 30px;
}

.card {
  width: 320px;
  height: 260px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: white;
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.card h2 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.card.found .icon {
  color: #2b80ff;
}

.card.lost .icon {
  color: #ff3c3c;
}

.card.found button {
  background: #3fb17e;
}

.card.lost button {
  background: #3fb17e;
}

button {
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

button:hover {
  transform: scale(1.1); /* Grows the button */
  opacity: 0.9;          /* Optional: adds a subtle fade */
}

.image{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}
